.container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

/* first image seen*/
.image {
  justify-self: end;
  padding-left: 80px;
}

.product-image-1-left {
  max-width: 75%;
}

.product-image-100 {
  max-width: 100%;
  padding-bottom: 80px;
}

.heading {
  align-self: center;
  position: absolute;
  align-items: start;
  top: 45%;
  right: 5%;
  background-color: rgba(199, 196, 187, 0.5);
  padding: 10px 20px;
}

h1 {
  font-size: 2.5vw;
  font-family: "Ethereal", sans-serif;
  z-index: 1;
  max-width: 700px;
}

.text-container {
  line-height: 1.9;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}
